<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djn.dao.BlogDao">

    <resultMap id="showBlogMap" type="Blog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="firstImg" column="firstImg"/>
        <result property="flag" column="flag"/>
        <result property="views" column="views"/>
        <result property="appreciation" column="appreciation"/>
        <result property="shareStatement" column="share_statement"/>
        <result property="commentable" column="commentable"/>
        <result property="published" column="published"/>
        <result property="recommend" column="recommend"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="typeId" column="type_id"/>
        <result property="userId" column="user_id"/>
        <association property="type" column="type_id" javaType="Type">
            <id property="id" column="tId"/>
            <result property="name" column="typeName"/>
        </association>
        <association property="user" column="user_id" javaType="User">
            <id property="id" column="uId"/>
            <result property="nickname" column="nickname"/>
            <result property="avatar" column="avatar"/>
        </association>
    </resultMap>

    <select id="queryBlogShowList" resultMap="showBlogMap">
        select b.*, t.id tId, t.name typeName, u.id uId, u.nickname, u.avatar
        from t_blog b
        left join t_type t
        on b.type_id = t.id
        left join t_user u
        on b.user_id = u.id
    </select>

    <select id="queryLatestFourBlog" resultType="Blog">
        SELECT
            id, title, content,
            first_img, flag, views,
            appreciation, share_statement,
            commentable, published, recommend,
            create_time, update_time,
            type_id, user_id
        from t_blog
        WHERE recommend is TRUE
        ORDER BY update_time DESC, id DESC LIMIT 4
    </select>

    <select id="queryTotalBlogNum" resultType="Integer">
        select count(1) from t_blog
    </select>

    <select id="queryAllBlogs" parameterType="Blog" resultType="Blog">
        select
               id, title, content,
               first_img, flag, views,
               appreciation, share_statement,
               commentable, published, recommend,
               create_time, update_time,
               type_id, user_id
        from t_blog
        <where>
            <if test="title != null and title != ''">
                title=#{title}
            </if>
            <if test="typeId != null and typeId != 0">
                and type_id=#{typeId}
            </if>
            <if test="recommend != null">
                and recommend=#{recommend}
            </if>
        </where>
    </select>

    <select id="queryBlogById" resultType="Blog">
        select
            id, title, content,
            first_img, flag, views,
            appreciation, share_statement,
            commentable, published, recommend,
            create_time, update_time,
            type_id, user_id
        from t_blog where id=#{id}
    </select>

    <select id="countBlogByTitle" resultType="Integer">
        select
            count(1)
        from t_blog where title=#{title}
    </select>

    <insert id="addBlog" parameterType="Blog" useGeneratedKeys="true" keyProperty="id">
        insert into t_blog (
            title, content, first_img,
            flag, views, appreciation,
            share_statement, commentable,
            published, recommend,
            create_time, update_time,
            type_id, user_id
            )
        VALUE (
            #{title}, #{content}, #{firstImg},
            #{flag}, #{views}, #{appreciation},
            #{shareStatement}, #{commentable},
            #{published}, #{recommend},
            #{createTime}, #{updateTime},
            #{typeId}, #{userId}
            )
    </insert>

    <insert id="addBlogTags">
        insert into t_blog_tag (blog_id, tag_id) VALUES
        <foreach collection="tagIds" item="tagId" separator=",">
            (#{blogId}, #{tagId})
        </foreach>
    </insert>

    <update id="updateBlog" parameterType="Blog">
        update t_blog
        <set>
            <if test="title != null">
                title=#{title},
            </if>
            <if test="content != null">
                content=#{content},
            </if>
            <if test="firstImg != null">
                first_img=#{firstImg},
            </if>
            <if test="flag != null">
                flag=#{flag},
            </if>
            appreciation=#{appreciation},
            share_statement=#{shareStatement},
            commentable=#{commentable},
            published=#{published},
            recommend=#{recommend},
            <if test="updateTime != null">
                update_time=#{updateTime},
            </if>
            <if test="typeId != null">
                type_id=#{typeId},
            </if>
            <if test="userId != null">
                user_id=#{userId}
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteBlogById">
        delete from t_blog where id=#{id}
    </delete>

    <delete id="deleteBlogTags">
        delete from t_blog_tag where blog_id=#{id}
    </delete>
</mapper>