<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djn.dao.UserDao">
    <select id="queryUserByNameAndPwd" resultType="User">
        select
               id, username, password,
               nickname, email, avatar,
               create_time, update_time,
               type, introduce, hobby1,
               hobby2, hobby3, hobby4
        from
             t_user
        where
              username=#{username}
          and
              password=#{password};
    </select>
</mapper>