<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>错误</title>
    <link rel="icon" th:href="@{/img/stone.png}">
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap/me.css}">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <span style="font-size: 100px;">错误</span>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-emoji-expressionless" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm5 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                </svg>
                <span class="align-middle">非常抱歉，服务器里好像出错了，正在抢修中！！</span>
            </p>
            <div>
                <div th:utext="'&lt;!--'" th:remove="tag"></div>
                <div th:utext="'Failed Request URL : ' + ${url}" th:remove="tag"></div>
                <div th:utext="'Exception message : ' + ${exception.message}" th:remove="tag"></div>
                <ul th:remove="tag">
                    <li th:each="st : ${exception.stackTrace}" th:remove="tag">
                        <span th:utext="${st}" th:remove="tag"></span>
                    </li>
                </ul>
                <div th:utext="'--&gt;'" th:remove="tag"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>