<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>分类</title>
  <!-- 引入Semantic-UI的静态资源 -->
  <link rel="stylesheet" th:href="@{/css/semantic.min.css}">
  <link rel="stylesheet" th:href="@{/css/me.css}">
</head>

<body>
  <!-- 导航 -->
  <nav class="ui inverted segment attached m-padded-tb-mini m-shadow-small">
    <div class="ui container">
      <div class="ui inverted secondary stackable menu">
        <!-- logo -->
        <h2 class="ui header teal item">Stone</h2>
        <!-- 菜单 -->
        <a href="#" class="m-item item m-mobile-hide"><i class="small home icon "></i>首页</a>
        <a href="#" class="m-item item m-mobile-hide active"><i class="small idea icon"></i>分类</a>
        <a href="#" class="m-item item m-mobile-hide"><i class="small tags icon"></i>标签</a>
        <a href="#" class="m-item item m-mobile-hide"><i class="small clone icon"></i>归档</a>
        <a href="#" class="m-item item m-mobile-hide"><i class="small info icon"></i>关于我</a>
        <div class="right m-item item m-mobile-hide">
          <div class="ui icon transparent inverted input">
            <input type="text" placeholder="Search...">
            <i class="search icon link"></i>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="ui black icon button m-right-top m-mobile-show menu toggle">
      <i class="sidebar icon"></i>
    </a>
  </nav>

  <!-- 正文 -->
  <div class="m-container-small m-padded-tb-big">
    <div class="ui container">
      <!-- header -->
      <div class="ui top attached segment">
        <div class="ui middle aligned two column grid">
          <div class="column">
            <h3 class="ui teal header">分类</h3>
          </div>
          <div class="column right aligned">
            共<h2 class="ui orange header m-inline-block m-text-thin">14</h2>个
          </div>
        </div>
      </div>
      <!-- 分类列表 -->
      <div class="ui segment attached m-padded-tb-large">
        <div class="ui labeled button m-margin-tb-tiny">
          <a href="#" class="ui basic teal button">思考与感悟</a>
          <div class="ui basic teal left pointing label">24</div>
        </div>
        <div class="ui labeled button m-margin-tb-tiny">
          <a href="#" class="ui basic button">思考与感悟</a>
          <div class="ui basic left pointing label">24</div>
        </div>
        <div class="ui labeled button m-margin-tb-tiny">
          <a href="#" class="ui basic button">思考与感悟</a>
          <div class="ui basic left pointing label">24</div>
        </div>
        <div class="ui labeled button m-margin-tb-tiny">
          <a href="#" class="ui basic button">思考与感悟</a>
          <div class="ui basic left pointing label">24</div>
        </div>
        <div class="ui labeled button m-margin-tb-tiny">
          <a href="#" class="ui basic button">思考与感悟</a>
          <div class="ui basic left pointing label">24</div>
        </div>
        <div class="ui labeled button m-margin-tb-tiny">
          <a href="#" class="ui basic button">思考与感悟</a>
          <div class="ui basic left pointing label">24</div>
        </div>
        <div class="ui labeled button m-margin-tb-tiny">
          <a href="#" class="ui basic button">开发者手册</a>
          <div class="ui basic left pointing label">24</div>
        </div>
        <div class="ui labeled button m-margin-tb-tiny">
          <a href="#" class="ui basic button">开发者手册</a>
          <div class="ui basic left pointing label">24</div>
        </div>
        <div class="ui labeled button m-margin-tb-tiny">
          <a href="#" class="ui basic button">开发者手册</a>
          <div class="ui basic left pointing label">24</div>
        </div>
        <div class="ui labeled button m-margin-tb-tiny">
          <a href="#" class="ui basic button">开发者手册</a>
          <div class="ui basic left pointing label">24</div>
        </div>
        <div class="ui labeled button m-margin-tb-tiny">
          <a href="#" class="ui basic button">开发者手册</a>
          <div class="ui basic left pointing label">24</div>
        </div>
        <div class="ui labeled button m-margin-tb-tiny">
          <a href="#" class="ui basic button">开发者手册</a>
          <div class="ui basic left pointing label">24</div>
        </div>
        <div class="ui labeled button m-margin-tb-tiny">
          <a href="#" class="ui basic button">开发者手册</a>
          <div class="ui basic left pointing label">24</div>
        </div>
        <div class="ui labeled button m-margin-tb-tiny">
          <a href="#" class="ui basic button">开发者手册</a>
          <div class="ui basic left pointing label">24</div>
        </div>
        <div class="ui labeled button m-margin-tb-tiny">
          <a href="#" class="ui basic button">清单</a>
          <div class="ui basic left pointing label">24</div>
        </div>
        <div class="ui labeled button m-margin-tb-tiny">
          <a href="#" class="ui basic button">清单</a>
          <div class="ui basic left pointing label">24</div>
        </div>
        <div class="ui labeled button m-margin-tb-tiny">
          <a href="#" class="ui basic button">清单</a>
          <div class="ui basic left pointing label">24</div>
        </div>
        <div class="ui labeled button m-margin-tb-tiny">
          <a href="#" class="ui basic button">清单</a>
          <div class="ui basic left pointing label">24</div>
        </div>
        <div class="ui labeled button m-margin-tb-tiny">
          <a href="#" class="ui basic button">清单</a>
          <div class="ui basic left pointing label">24</div>
        </div>
        <div class="ui labeled button m-margin-tb-tiny">
          <a href="#" class="ui basic button">清单</a>
          <div class="ui basic left pointing label">24</div>
        </div>
      </div>
      <!-- 博客列表 -->
      <div class="ui teal top attached segment">
        <div class="ui m-padded-lr-responsive-tiny vertical segment m-padded-tb-large">
          <div class="ui stackable mobile reversed grid">
            <!-- 左侧内容：标题、缩略内容、分类、标签、头像、作者名称 -->
            <div class="eleven wide column">
              <!-- 标题 -->
              <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
              <!-- 缩略内容 -->
              <p class="m-text">
                不知不觉计划已过半。 刚好跟小伙伴们讨论到Anna Kiesenhofer，那位自己把自己训练成奥运冠军的30岁数学博士。我：“想知道她是怎么练的，我也没教练没...
              </p>
              <div class="ui stackable grid">
                <!-- 左侧 -->
                <div class="eleven wide column">
                  <div class="ui link list horizontal mini">
                    <div class="item">
                      <!-- 头像 -->
                      <img src="https://picsum.photos/id/1011/100/100" alt="" class="ui avatar image">
                      <!-- 作者名 -->
                      <div class="content"><a href="#" class="header">JiananSt</a></div>
                    </div>
                    <!-- 发布日期 -->
                    <div class="item"><i class="calendar icon"></i>2017-10-2</div>
                    <!-- 浏览次数 -->
                    <div class="item"><i class="eye icon"></i>2342</div>
                  </div>
                </div>
                <!-- 右侧 -->
                <div class="five wide column right aligned">
                  <!-- 分类、标签 -->
                  <a href="#" class="ui label teal basic m-padded-tiny" target="_blank">认知升级</a>
                </div>
              </div>
            </div>
            <!-- 右侧内容：博客图片 -->
            <div class="five wide column">
              <!-- 博客相关图片 -->
              <a href="#" target="_blank">
                <img src="https://picsum.photos/id/1015/800/450" alt="" class="ui rounded image">
              </a>
            </div>
          </div>
        </div>
        <div class="ui m-padded-lr-responsive-tiny vertical segment m-padded-tb-large">
          <div class="ui stackable mobile reversed grid">
            <!-- 左侧内容：标题、缩略内容、分类、标签、头像、作者名称 -->
            <div class="eleven wide column">
              <!-- 标题 -->
              <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
              <!-- 缩略内容 -->
              <p class="m-text">
                不知不觉计划已过半。 刚好跟小伙伴们讨论到Anna Kiesenhofer，那位自己把自己训练成奥运冠军的30岁数学博士。我：“想知道她是怎么练的，我也没教练没...
              </p>
              <div class="ui stackable grid">
                <!-- 左侧 -->
                <div class="eleven wide column">
                  <div class="ui link list horizontal mini">
                    <div class="item">
                      <!-- 头像 -->
                      <img src="https://picsum.photos/id/1011/100/100" alt="" class="ui avatar image">
                      <!-- 作者名 -->
                      <div class="content"><a href="#" class="header">JiananSt</a></div>
                    </div>
                    <!-- 发布日期 -->
                    <div class="item"><i class="calendar icon"></i>2017-10-2</div>
                    <!-- 浏览次数 -->
                    <div class="item"><i class="eye icon"></i>2342</div>
                  </div>
                </div>
                <!-- 右侧 -->
                <div class="five wide column right aligned">
                  <!-- 分类、标签 -->
                  <a href="#" class="ui label teal basic m-padded-tiny" target="_blank">认知升级</a>
                </div>
              </div>
            </div>
            <!-- 右侧内容：博客图片 -->
            <div class="five wide column">
              <!-- 博客相关图片 -->
              <a href="#" target="_blank">
                <img src="https://picsum.photos/id/1015/800/450" alt="" class="ui rounded image">
              </a>
            </div>
          </div>
        </div>
        <div class="ui m-padded-lr-responsive-tiny vertical segment m-padded-tb-large">
          <div class="ui stackable mobile reversed grid">
            <!-- 左侧内容：标题、缩略内容、分类、标签、头像、作者名称 -->
            <div class="eleven wide column">
              <!-- 标题 -->
              <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
              <!-- 缩略内容 -->
              <p class="m-text">
                不知不觉计划已过半。 刚好跟小伙伴们讨论到Anna Kiesenhofer，那位自己把自己训练成奥运冠军的30岁数学博士。我：“想知道她是怎么练的，我也没教练没...
              </p>
              <div class="ui stackable grid">
                <!-- 左侧 -->
                <div class="eleven wide column">
                  <div class="ui link list horizontal mini">
                    <div class="item">
                      <!-- 头像 -->
                      <img src="https://picsum.photos/id/1011/100/100" alt="" class="ui avatar image">
                      <!-- 作者名 -->
                      <div class="content"><a href="#" class="header">JiananSt</a></div>
                    </div>
                    <!-- 发布日期 -->
                    <div class="item"><i class="calendar icon"></i>2017-10-2</div>
                    <!-- 浏览次数 -->
                    <div class="item"><i class="eye icon"></i>2342</div>
                  </div>
                </div>
                <!-- 右侧 -->
                <div class="five wide column right aligned">
                  <!-- 分类、标签 -->
                  <a href="#" class="ui label teal basic m-padded-tiny" target="_blank">认知升级</a>
                </div>
              </div>
            </div>
            <!-- 右侧内容：博客图片 -->
            <div class="five wide column">
              <!-- 博客相关图片 -->
              <a href="#" target="_blank">
                <img src="https://picsum.photos/id/1015/800/450" alt="" class="ui rounded image">
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- 分页 -->
      <div class="ui bottom attached segment">
        <div class="ui middle aligned two column grid">
          <div class="column">
            <a href="#" class="ui teal basic mini button">上一页</a>
          </div>
          <div class="right aligned column">
            <a href="#" class="ui teal basic mini button">下一页</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br><br>

  <!-- 页脚 -->
  <footer class="ui inverted segment vertical m-padded-tb-massive">
    <div class="ui container center aligned">
      <div class="ui divided inverted grid stackable">
        <div class="three wide column">
          <div class="item">
            <img th:src="@{/img/temp.webp}" alt="二维码" class="ui rounded centered image" width="110" height="110">
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">用户故事（User Story）</a>
            <a href="#" class="item">用户故事（User Story）</a>
            <a href="#" class="item">用户故事（User Story）</a>
            <a href="#" class="item">用户故事（User Story）</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Email: JiaNanStone@qq.com</a>
            <a href="#" class="item">QQ: 1046280246</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
          <p class="m-text-thin m-text-spaced m-opacity-mini">
            这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这的人一些帮助...
          </p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020-2021 StoneBlog Designed by JiaNanStone</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script th:src="@{/js/semantic.min.js}"></script>

  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });
  </script>
</body>

</html>
